<template>
    <div>
        <span v-if="!prepared" uk-spinner="ratio: 1.5"></span>
        <div v-if="prepared" v-bind:style="{opacity: loading?0.5:1}">
            <h2>Articles</h2>
            <ul class="uk-pagination" uk-margin>

                <li v-if="links.prev">
                    <span style="cursor: pointer" v-on:click="load(links.prev)" ><span uk-pagination-previous></span></span>
                </li>

                <li>
                    <span v-if="meta.current_page === 1" style="color: black;font-weight: bold">1</span>
                    <span v-else style="cursor: pointer" v-on:click="load(links.first)">1</span>
                </li>

                <li v-if="isNeedLeftPaginatorSpace" class="uk-disabled"><span>...</span></li>

                <li v-for="btn in paginatorBtns">
                    <span v-if="btn.active" style="color: black;font-weight: bold">{{btn.label}}</span>
                    <span v-else style="cursor: pointer" v-on:click="load(btn.url)">{{btn.label}}</span>
                </li>

                <li v-if="isNeedRightPaginatorSpace" class="uk-disabled"><span>...</span></li>

                <li>
                    <span v-if="meta.current_page === meta.last_page" style="color: black;font-weight: bold">{{meta.last_page}}</span>
                    <span v-else style="cursor: pointer" v-on:click="load(links.last)">{{meta.last_page}}</span>
                </li>

                <li v-if="links.next">
                    <span style="cursor: pointer" v-on:click="load(links.next)" ><span uk-pagination-next></span></span>
                </li>

            </ul>
            <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Slug</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Enable</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="article in data">
                    <td class="uk-text-bold">{{article.id}}</td>
                    <td class="uk-text-left">{{article.slug}}</td>
                    <td class="uk-text-left ">{{article.title}}</td>
                    <td class="uk-text-left ">{{article.content}}</td>
                    <td>
                        <input v-if="article.enable" class="uk-checkbox" type="checkbox" checked disabled>
                        <input v-else class="uk-checkbox" type="checkbox" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    name: 'ArticleComponent',
    data: () => {
        return {
            url: '/api/article',
            data: [],
            links: [],
            meta: [],
            loading: true,
            prepared: false,

        }
    },
    mounted() {
        this.load(this.$data.url);
    },
    computed: {
        paginatorBtns: function () {
            let cntBtns = this.getCntBtns();
            let currentPage = this.getCurrentPage();
            let lastPage = this.getLastPage();
            let btns = [];
            for (let i = 1; i <= this.$data.data.length; i++) {
                let btn = {
                    label: i,
                    url: `${this.$data.url}?page=${i}&perPage=${this.$data.meta.per_page}`,
                    active: i === currentPage
                };

                //пограничные элементы
                if (i === 1 || i === lastPage) {
                    continue;
                }

                //количество страниц равно количеству элементов
                if (cntBtns >= (lastPage - 2)) {
                    btns.push(btn);
                    continue;
                }

                //находимся в начале списка
                if ((currentPage <= cntBtns) && (i <= cntBtns + 1)) {
                    btns.push(btn);
                    continue;
                }

                //находимся в конче списка
                if ((currentPage >= lastPage - cntBtns) && (i >= lastPage - cntBtns)) {
                    btns.push(btn);
                    continue;
                }

                //находимся в середине интервала
                let startPosition = currentPage - parseInt(cntBtns/2);
                let stopPosition = startPosition + cntBtns - 1;

                if ((currentPage < lastPage - cntBtns) && i >= startPosition && i <= stopPosition) {
                    btns.push(btn);
                    continue;
                }
            }
            return btns;
        },
        isNeedLeftPaginatorSpace: function () {
            let cntBtns = this.getCntBtns();
            let currentPage = this.getCurrentPage();
            let lastPage = this.getLastPage();

            if (cntBtns >= (lastPage - 2)) {
                return false;
            }
            if (currentPage <= cntBtns) {
                return false;
            }
            return true;
        },
        isNeedRightPaginatorSpace: function () {
            let cntBtns = this.getCntBtns();
            let currentPage = this.getCurrentPage();
            let lastPage = this.getLastPage();

            if (cntBtns >= (lastPage - 2)) {
                return false;
            }

            if (currentPage >= (lastPage - cntBtns)) {
                return false;
            }
            return true;
        }
    },
    methods: {
        getCntBtns: function () {
            return Math.min(this.$data.meta.last_page, this.$data.meta.paginator.cntBtns);
        },
        getCurrentPage: function () {
            return this.$data.meta.current_page;
        },
        getLastPage: function () {
            return this.$data.meta.last_page;
        },
        request: function (url, page, perPage) {
            return axios.get(url);
        },
        load: function (url) {
            this.$data.loading = true;
            this.request(url).then(({data}) => {
                this.update(data)
            });
        },
        update: function (response) {
            this.$data.data = response.data;
            this.$data.links = response.links;
            this.$data.meta = response.meta;
            this.$data.loading = false;
            this.$data.prepared = true;
        }
    }
}
</script>

<style scoped>

</style>
